<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">

    <!-- Import di stile specifico della pagina, dello stile del burger menu, e del background -->
    <link rel="stylesheet" href="../../static/detective/detective_style/detective_homepage_style.css">
    <link rel="stylesheet" href="../../static/role_tag/role_tag_style.css">
    <link rel="stylesheet" href="../../burger_menu/burger_menu_style.css">
    <link rel="stylesheet" href="../../static/neural_background/neural_style.css">
    
    <title>Detective</title>
    
</head>
<body>

    <!-- Import di SCRIPT specifico della pagina, dello stile del burger menu, e del background -->
    <script src="../../static/neural_background/neural_background.js"></script>
    <script src="../../static/role_tag/role_tag_script.js"></script>
    <script src="../../burger_menu/burger_menu_script.js"></script>
    <script type="module" src="../../static/detective/detective_scripts/detective_homepage_script.js"></script>
        
    
</body>
</html>