body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d1017;
}

.input_form {

    /* Adding lateral space for better internal reading */
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;

    /* Adding space betuen inputs forms*/
    margin: 1px;
    width: 135px;

    /* Adding a colored border for better visualization */
    border-radius: 8px;
    border: #0b2755 1px solid;
    background-color: #0d1017;
    color: beige;

}

.general_text {

    font-size: 9px;
    padding-left: 4px;
    color: rgb(223, 223, 223);

}

.insert_data {

    /* BackGround Color */
    background-color: rgb(38, 38, 38);
    
    /* Variuos dimension adjustment */
    border-radius: 7px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin: 4px;

}

#submit_button {

    font-size: 10px;
    background-color: rgb(22, 108, 12);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 154px;
    height: 22px;
    margin-top: 3px;

}

#submit_button:hover {
    background-color: rgb(16, 83, 9);
}
