<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/commander/commander_styles/commander_homepage.css">
    <link rel="stylesheet" href="../../static/neural_background/neural_style.css">
    <title>Commander</title>
</head>
<body>
    <script src="../../static/neural_background/neural_background.js"></script>
    
    <button id="new_note_button">+</button>
    <button id="burger_menu_button">-</button>
    
    
    <div class="burger_menu" id="burger_menu">
        <ul class="personal_functions">
            <li>
                <button class="action_button">Action 1</button>
            </li>
            <li>
                <button class="action_button">Action 2</button>
            </li>
            <li>
                <button class="action_button">Action 3</button>
            </li>
            <li>
                <button class="action_button">Action 4</button>
            </li>
        </ul>
    </div>
    

    <script src="../../static/commander/scripts/commander_homepage_script.js"></script>
    
</body>
</html>
