
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sfera Interattiva</title>
    <link rel="stylesheet" href="../../static/commander/commander_styles/commander_homepage.css"></head>
</head>
<body>

    <div class="label" style="top: 100px; left: 200px;">A</div>
    <div class="label" style="top: 150px; left: 250px;">B</div>
    <div class="label" style="top: 200px; left: 300px;">C</div>
    <div class="label" style="top: 400px; left: 400px;">D</div>

    <script src="../../static/commander/scripts/commander_homepage_script.js"></script>

</body>
</html>

