<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up</title>
</head>
<body>

    <h1>Benvenuto nel login:</h1>

    
    <form id="login-form">
        
        <div>
            <label for="username">Inserisci il tu username: </label>
            <input type="text" name="username" id="username" placeholder="Inserisci nome utente" required>
        </div>
        
        <div>
            <label for="password">Inserisci la tua password: </label>
            <input type="text" name="password" id="password" placeholder="Inserisci la tua password" required>
        </div>

        <button type="submit">Login</button>

    </form>

    <script src="../static/login.js"></script>

</body>
</html>